<!DOCTYPE html>
<html
  lang="en"
  style="
    background-color: #000;
    box-sizing: border-box;
    width: 1240px;
    height: 1754px;
  "
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>OM Invoice</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body
    style="
      background-color: #fff;
      min-height: 1754px;
      font-family: 'Space Grotesk', system-ui, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      line-height: 1;
      position: relative;
    "
  >
    <table style="width: 100%; padding: 20px 0px">
      <tbody>
        <tr>
          <td style="width: 50%; text-align: start"></td>
          <td style="width: 50%; text-align: end">
            <div style="line-height: 1.3; margin-left: auto">
              <p style="font-size: 18px">Order No</p>
              <p style="font-size: 24px; font-weight: bold">
                # {{MetaData.metaInfo[0].OrderNumber}}
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <main style="padding: 20px 0px">
      <!-- Receipt Header -->
      <div style="margin-bottom: 50px">
        <div style="text-align: center; margin-bottom: 45px;font-size: 16px;">
          <p
            style="
              font-size: 36px;
              font-weight: bold;
              margin-bottom: 15px;
            "
          >
            {{MetaData.metaInfo[0].RestaurantName}}
          </p>
          {% if MetaData.metaInfo[0].CompanyName != '' %}
          <p style="margin-bottom: 10px">
            {{MetaData.metaInfo[0].CompanyName}}
          </p>
          {% endif %} {% if MetaData.metaInfo[0].Street != '' %}
          <p style="margin-bottom: 10px">{{MetaData.metaInfo[0].Street}}</p>
          {% endif %} {% if MetaData.metaInfo[0].Zip != '' and MetaData.metaInfo[0].City != ''%}
          <p style="margin-bottom: 10px">
            {{MetaData.metaInfo[0].Zip}} {{MetaData.metaInfo[0].City}}
          </p>
          {% endif %} {% if MetaData.metaInfo[0].VatUUID != '' %}
          <p style="margin-bottom: 10px" class="mb-15">
            {{MetaData.metaInfo[0].VatUUID}}
          </p>
          {% endif %}
        </div>

        <table style="width: 100%">
          <tr>
            <td style="width: 50%; text-align: start">
              <div>
                {% if MetaData.metaInfo[0].CustomerName != '' %}
                <p style="margin-bottom: 10px">
                  Customer Name: {{MetaData.metaInfo[0].CustomerName}}
                </p>
                {% endif %} {% if MetaData.metaInfo[0].CustomerEmail != '' %}
                <p style="margin-bottom: 10px">
                  Email: {{MetaData.metaInfo[0].CustomerEmail}}
                </p>
                {% endif %} {% if MetaData.metaInfo[0].CustomerPhoneNumber != '' %}
                <p style="margin-bottom: 10px">
                  Telephone Number: {{MetaData.metaInfo[0].CustomerPhoneNumber}}
                </p>
                {% endif %} {% if MetaData.metaInfo[0].TableNumber != '' %}
                <p style="margin-bottom: 10px">
                  Table Number: {{MetaData.metaInfo[0].TableNumber}}
                </p>
                {% endif %}

                <p style="margin-bottom: 10px">
                  Order Type: {{MetaData.metaInfo[0].OrderType}}
                </p>
              </div>
            </td>
            <td style="width: 50%; text-align: end">
              <p>Order Date: {{MetaData.metaInfo[0].CreateDate}}</p>
            </td>
          </tr>
        </table>
      </div>

      <!-- Invoice Breakdown -->
      <table
        style="
          width: 100%;
          border-collapse: collapse;
          border-radius: 10px;
          overflow: hidden;
          margin-bottom: 50px;
        "
      >
        <thead style="background-color: #000; color: #fff">
          <tr>
            <th style="text-align: start; padding: 20px" colspan="2">
              Item & Description
            </th>
            <th style="text-align: end; padding: 20px 0px 20px">Quantity</th>
            <th style="text-align: center; padding: 20px 0px 20px 130px">
              Rate
            </th>
            <th style="text-align: end; padding: 20px 50px 20px">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for product in MetaData.metaInfo[0].OrderProducts %} {% if product.Modifiers.size == 0 %}
          <tr style="border-radius: 100px; border-bottom: 1px solid #000">
            <td style="text-align: start; padding: 20px" colspan="2">
              {{product.Name}}
            </td>
            <td style="text-align: end; padding: 20px">{{product.Quantity}}</td>
            <td style="text-align: center; padding: 20px 0px 20px 130px">
              {{ MetaData.metaInfo[0].Currency }}
              {{product.ProductVariationPrice / product.Quantity}}
            </td>
            <td style="text-align: end; padding: 20px; padding-right: 40px">
              {{ MetaData.metaInfo[0].Currency }}
              {{product.ProductVariationPrice}}
            </td>
          </tr>
          {% endif %} {% if product.Modifiers.size != 0 %}
          <tr style="border-radius: 100px">
            <td style="text-align: start; padding: 20px" colspan="2">
              {{product.Name}}
            </td>
            <td style="text-align: end; padding: 20px">{{product.Quantity}}</td>
            <td style="text-align: center; padding: 20px 0px 20px 130px">
              {{ MetaData.metaInfo[0].Currency }}
              {{product.ProductVariationPrice / product.Quantity}}
            </td>
            <td style="text-align: end; padding: 20px; padding-right: 40px">
              {{ MetaData.metaInfo[0].Currency }}
              {{product.ProductVariationPrice}}
            </td>
          </tr>
          {% for modifier in product.Modifiers %} {% if forloop.index != product.Modifiers.size %}
          <tr>
            <td colspan="4" style="padding: 10px 30px">> {{modifier.Name}}</td>
          </tr>
          {% endif %} {% if forloop.index == product.Modifiers.size %}
          <tr>
            <td
              colspan="5"
              style="padding: 10px 30px; border-bottom: 1px solid #000"
            >
              > {{modifier.Name}}
            </td>
          </tr>
          {% endif %} {% endfor %} {% endif %} {% endfor %}
        </tbody>

        <tfoot style="margin-left: auto">
          <tr>
            <td colspan="3" style="text-align: start; padding: 20px 15px"></td>
            <td style="text-align: start; padding: 20px 15px">Subtotal</td>
            <td
              style="
                text-align: start;
                padding: 20px;
                text-align: end;
                padding-right: 40px;
              "
            >
              {{ MetaData.metaInfo[0].Currency }}
              {{MetaData.metaInfo[0].SubTotal}}
            </td>
          </tr>
          {% for item in MetaData.metaInfo[0].MWSTList %}
          <tr>
            <td colspan="3" style="text-align: start; padding: 20px 15px"></td>
            <td style="text-align: start; padding: 20px 15px">
              MWST ({{ item.Percent }} %)
            </td>
            <td
              style="
                text-align: start;
                padding: 20px;
                text-align: end;
                padding-right: 40px;
              "
            >
              {{ MetaData.metaInfo[0].Currency }} {{ item.Amount }}
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="3" style="text-align: start; padding: 20px 15px"></td>
            <td style="text-align: start; padding: 20px; border-radius: 100px">
              Discount
            </td>
            <td
              style="
                text-align: start;
                padding: 20px;
                border-radius: 100px;
                padding-right: 40px;
                text-align: end;
              "
            >
              {{ MetaData.metaInfo[0].Currency }}
              {{MetaData.metaInfo[0].DiscountAmount}}
            </td>
          </tr>
          <tr>
            <td colspan="3" style="text-align: start; padding: 20px 15px"></td>
            <td
              style="
                text-align: start;
                padding: 20px;
                border-radius: 100px;
                border-bottom: 1px solid #000;
              "
            >
              Tip
            </td>
            <td
              style="
                text-align: start;
                padding: 20px;
                border-radius: 100px;
                border-bottom: 1px solid #000;
                text-align: end;
                padding-right: 40px;
              "
            >
              {{ MetaData.metaInfo[0].Currency }}
              {{MetaData.metaInfo[0].TipAmount}}
            </td>
          </tr>
          <tr style="font-weight: bold">
            <td colspan="3" style="text-align: start; padding: 20px 15px"></td>
            <td style="text-align: start; padding: 20px 15px">Total</td>
            <td
              style="
                text-align: start;
                padding: 20px;
                text-align: end;
                padding-right: 40px;
              "
            >
              {{ MetaData.metaInfo[0].Currency }}
              {{MetaData.metaInfo[0].TotalAmount}}
            </td>
          </tr>
        </tfoot>
      </table>

      <!-- Paymennt Info -->
      <table>
        {% if MetaData.metaInfo[0].PaymentMethod != '' %}
        <tr>
          <td style="padding-bottom: 10px">Payment method: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].PaymentMethod}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].CardNumber != '' %}
        <tr>
          <td style="padding-bottom: 10px">Card Number: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].CardNumber}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].PaymentReferenceId != '' %}
        <tr>
          <td style="padding-bottom: 10px">Transaction ID: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].PaymentReferenceId}}
          </td>
        </tr>
        {% endif %}{% if MetaData.metaInfo[0].TerminalId != '' %}
        <tr>
          <td style="padding-bottom: 10px">TRM-ID: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].TerminalId}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].TerminalId != '' %}
        <tr>
          <td style="padding-bottom: 10px">TRX. REF-NO: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].SIXTransactionReference}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].ApprovalCode != '' %}
        <tr>
          <td style="padding-bottom: 10px">Auth. Code: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].ApprovalCode}}
          </td>
        </tr>
        {% endif %}{% if MetaData.metaInfo[0].AcquirerReference != '' %}
        <tr>
          <td style="padding-bottom: 10px">ACQ-ID: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].AcquirerReference}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].TotalAmount != '' %}
        <tr>
          <td style="padding-bottom: 10px">Payment amount: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{ MetaData.metaInfo[0].Currency }}
            {{MetaData.metaInfo[0].TotalAmount}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].PaymentDate != '' %}
        <tr>
          <td style="padding-bottom: 10px">Payment date: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].PaymentDate}}
          </td>
        </tr>
        {% endif %} {% if MetaData.metaInfo[0].PaymentTime != '' %}
        <tr>
          <td style="padding-bottom: 10px">Payment time: &nbsp;</td>
          <td style="padding-bottom: 10px">
            {{MetaData.metaInfo[0].PaymentTime}}
          </td>
        </tr>
        {% endif %}
      </table>
    </main>
  </body>
</html>
